<!-- Header -->
<h1 class="d-flex align-items-center">
    <a routerLink=".." mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </a>
    <span class="ms-2">Customer Information</span>
</h1>
<!-- Content -->
<mat-card appearance="outlined" class="bg-white p-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <label class="text-secondary">Name</label>
                <b class="d-block fs-4">{{contact.name}}</b>
            </div>
            <div class="col-lg-4">
                <label class="text-secondary">Email Address</label>
                <b class="d-block fs-4">{{contact.emailAddress}}</b>
            </div>
            <div class="col-lg-4">
                <label class="text-secondary">Contact Number</label>
                <b class="d-block fs-4">{{contact.contactNumber}}</b>
            </div>
        </div>
    </div>
</mat-card>