<!-- Header -->
<h1>Contacts Information</h1>

<div class="d-flex">
    <!-- Text -->
    <p>Your list of contacts appear here. To add a new contact, click on the Add New Contact Button.</p>
    <!-- Button -->
    <button mat-flat-button class="ms-auto" (click)="onAdd()">Add New Contact</button>
</div>

<!-- View Toolbar -->
<mat-toolbar class="px-0 bg-transparent justify-content-end">
    <button mat-icon-button [class.active]="cardView" [disabled]="cardView" (click)="cardView = true">
        <mat-icon>grid_view</mat-icon>
    </button>
    <button mat-icon-button [class.active]="!cardView" [disabled]="!cardView" (click)="cardView = false">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<!-- View Contacts -->
@if(cardView) {
    <app-contact-cards [dataSource]="contacts" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-contact-cards>
} @else {
    <app-contact-table [dataSource]="contacts" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-contact-table>
}

<!-- Modal -->
<app-ui-modal [show]="modalShow">
    <app-contact-form [contact]="contact" (action)="onAction($event)"></app-contact-form>
</app-ui-modal>

<!-- Toast -->
<app-ui-toast [timeout]="5000"></app-ui-toast>