<!-- Header -->
<h1>Contacts Information</h1>

<div class="d-flex">
    <!-- Text -->
    <p>Your list of contacts appear here. To add a new contact, click on the Add New Contact Button.</p>

    <!-- Button -->
    <button mat-flat-button class="ms-auto">Add New Contact</button>
</div>

<!-- View Toolbar -->
<mat-toolbar class="px-0 bg-transparent justify-content-end">
    <button mat-icon-button [disabled]="cardView" (click) = "setCardView(true)">
        <mat-icon>grid_view</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!cardView" (click) = "setCardView(false)">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<!-- Contacts -->
@if(cardView) {
    <app-contact-cards></app-contact-cards>
} @else {
    <app-contact-table></app-contact-table>
}
